<div class="container">
  <mat-card class="card">
    <h1>login works!</h1>

    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput placeholder="admin" type="text" [formControl]="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="*****" type="password" [formControl]="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="Login()">Login</button>
    <button mat-raised-button color="warn" (click)="LogOut()">Logout</button>
    <button mat-raised-button color="accent" (click)="Navigate()">Navigate</button>
  </mat-card>
</div>
